<% title t('texts.idea.dashboard') %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body my-4 align-items-center h-100 row justify-content-center">
          <%= image_tag '/img/dashboard-ideias.png' %>
        </div>
      </div>
    </div>
  </div>
</div>