<p>
  Conseguimos um novo colaborador para sua ideia abaixo.
</p>
<table>
  <tbody>
  <tr>
    <td>Título:</td>
    <td>
      <%= @idea.title %>
    </td>
  </tr>
  <tr>
    <td>Descrição:</td>
    <td>
      <%= @idea.description %>
    </td>
  </tr>
  </tbody>
</table>

<p>
  Entre em contato com ele:
</p>

<table>
  <tbody>
  <tr>
    <td>Nome:</td>
    <td>
      <%= @user.name %>
    </td>
  </tr>
  <tr>
    <td>Contato:</td>
    <td>
      <%= @user.email %>
    </td>
  </tr>
  </tbody>
</table>

<p>Att.</p>
<h4>Equipe TCC Produto.</h4>