<% if resource.errors.any? %>
  <div id="error_explanation">
    <h5>
      <%= t 'texts.solve_the_following_problems' %>:
    </h5>
    <ul>
      <% resource.errors.messages.each do |key, message| %>
        <li class="text-danger"><%= key %>: <%= message.first %></li>
      <% end %>
    </ul>
  </div>
<% end %>