<div class="container-fluid mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-8">

      <h2>Políticas e Termos de Uso da Aplicação</h2>
      <p>É política do TCC Produto respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site TCC Produto, e outros sites que possuímos e operamos.</p>

      <p>Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado. </p>

      <p>Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.</p>

      <p>Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.</p>

      <p>O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas
        <a href='#'>políticas de privacidade</a>. </p>

      <p>Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.</p>

      <p>Em relação à nossa funcionalidade depósito de ideias, uma premissa é importante destacar: via de regra, o direito à propriedade intelectual sobre uma ideia é do idealizador da mesma.</p>

      <p>Todas as ideias compartilhadas na plataforma poderão ser acessadas e visualizadas por outros usuários do sistema, podendo ser desenvolvidas pelos mesmos de modo a forma uma rede de colaboração (uma espécie de <i>commons digitais</i>). Entretanto, devido ao valor acadêmico, intelectual e
        econômico que pode ser gerado sobre as ideias desenvolvidas, sempre que necessário, poderão ser implementados mecanismos e procedimentos diversos afim de assegurar a proteção da propriedade intelectual.</p>

      <p>A instituição responsável pela plataforma promoverá mecanismos para mitigar conflitos de propriedade intelectual das ideias, mas não se responsabilizará judicialmente por eventuais desacordos entre quaisquer um dos membros da rede, sendo estes mesmos os responsáveis, em todos os âmbitos, por seus atos dentro da
        plataforma.</p>

      <p>O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contato conosco.</p>

      <h3>Compromisso do Usuário</h3>
      <p>O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o TCC Produto oferece no site e com caráter enunciativo, mas não limitativo:</p>
      <ul>
        <li>A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública;</li>
        <li>B) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, apostas online (ex.: Betano), jogos de sorte e azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;</li>
        <li>C) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do TCC Produto, de seus fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente
          mencionados.
        </li>
        <li>D) Respeitar os direitos autorais dos outros usuários da plataforma, estando ciente de que plágio é crime, com previsão legal no art. 184 do Código Penal.</li>
      </ul>
      <h3>Mais informações</h3>
      <p>Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem certeza se precisa ou não, geralmente é mais seguro deixar os cookies ativados, caso interaja com um dos recursos que você usa em nosso site.</p>
      <p>Esta política é efetiva a partir de <strong>março</strong>/<strong>2021</strong>.</p>
      Sobre a Política de Privacidade e Termos de Uso
      O que é uma Política de Privacidade?
      Uma política de privacidade é um documento que explica como um website lida com toda a informação coletada dos seus utilizadores e/ou clientes. É uma boa prática dizer aos utilizadores como os sites armazenam e fazem uso desses dados.

      A Importância da Política de Privacidade
      As políticas de privacidade podem ser exigidas por lei, dependendo de onde você opera. Em qualquer caso, é uma boa prática ter uma política de privacidade de proteção de dados, especialmente se você colectar qualquer tipo de dados privados de seus usuários (por exemplo, dados de cookies,
      detalhes de pagamento, endereço e número de telefone). Além disso, você pode precisar de uma política de privacidade para usar Google AdSense, APIs e serviços de terceiros como o Instagram ou listar seu aplicativo em um mercado comercial como o Google Play. Se o seu site envolver usuários no
      Espaço Económico Europeu, você poderá ser obrigado a publicar uma política de privacidade em conformidade com o GDPR.

      O que são Termos de Uso (Termos e Condições)?
      Tecnicamente, você não precisa de uma declaração de termos de serviço. Não é exigido por lei, mas geralmente é aconselhável incluir esses termos no seu site para cobrir as expectativas e acordos entre você e seus usuários.

      Algumas empresas podem até solicitar que você disponibilize uma antes que possa entrar em um relacionamento com elas. Na maioria das vezes, os proprietários e usuários do site se comportam de maneira justa e razoável, tornando suas informações de termos e condições redundantes. No entanto, em
      circunstâncias incomuns, como aquelas que envolvem abuso, roubo de propriedade intelectual ou comportamento ilegal, a indicação explícita dos termos e condições pode oferecer proteções básicas para você e sua empresa, limitando sua responsabilidade e esclarecendo seus direitos sobre o conteúdo
      publicado.

      Sobre Nós
      O que é o PoliticaPrivacidade.com?
      PoliticaPrivacidade.com é um gerador de políticas de privacidade e termos de uso (também conhecido como termos e condições) em lingua portuguesa (Portugal e Brasil) e inglesa totalmente gratuito e gerados em segundos.

      Quer seja para um loja em Shopify ou para um blog em Wordpress, geramos simples políticas de privacidade e termos de uso, prontos a adaptar para as suas necessidade.

      Tudo o que é gerado através do PoliticaPrivacidade.com pode ser usado sem qualquer tipo de crédito ou ligação. Altere livremente o conteúdo adaptando à sua necessidade.

      O PoliticaPrivacidade.com não assume qualquer tipo responsabilidade do uso do conteúdo nele gerado em website de terceiros. Relembramos que ao gerar e usar a Política de Privacidade e os Termos de Uso através do nosso site, não prescinde de aconselhamento legal para adaptar à sua prática de
      negócio.

      Tem custos? Quanto Tempo Demora?
      Não. É totalmente gratuito e em menos de 10 segundos consegue gerar uma política de privacidade e termos de uso (termos e condições).

      Que sites geraram aqui uma Política de Privacidade?
      Variadíssimos sites reconhecidos usaram o nosso gerador para criar a sua política de privacidade. Desde sites sobre Investir em Criptomoedas, Jogos de Hoje, Insper, e até Universidades como Universidade de Minas Gerais, Faculdade Teológica Sul Americana são apenas alguns da enorme lista.

      PoliticaPrivacidade | Todos os Direitos Reservados | 2011-2020

    </div>
  </div>
</div>