<div class="wrapper vh-100">
  <div class="align-items-center h-100 d-flex w-50 mx-auto">
    <div class="mx-auto text-center">
      <h1 class="display-1 m-0 font-weight-bolder text-muted" style="font-size:80px;">302</h1>
      <h1 class="mb-1 text-muted font-weight-bold">Desculpe</h1>
      <h6 class="mb-3 text-muted">Você não tem acesso a este recurso.</h6>
      <a href="/" class="btn btn-lg btn-primary px-5">Home page</a>
    </div>
  </div>
</div>