
<!--<div class="modal fade modal-slide show" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" style="padding-right: 15px; display: block;" aria-modal="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="defaultModalLabel">Filtros</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <i class="fe fe-x fe-12"></i>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <div class="p-2">-->

          <%#= yield :busca %>

<!--        </div>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn mb-2 btn-primary btn-block">Apply</button>-->
<!--        <button type="button" class="btn mb-2 btn-secondary btn-block">Reset</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="modal fade modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="defaultModalLabel">Filters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fe fe-x fe-12"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="p-2">
          <div class="form-group my-4">
            <p class="mb-2"><strong>Regions</strong></p>
            <label for="multi-select2" class="sr-only"></label>
            <select class="form-control select2-multi select2-hidden-accessible" id="multi-select2" data-select2-id="multi-select2" multiple="" tabindex="-1" aria-hidden="true">
              <optgroup label="Mountain Time Zone">
                <option value="AZ" data-select2-id="2">Arizona</option>
                <option value="CO">Colorado</option>
                <option value="ID">Idaho</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NM">New Mexico</option>
                <option value="ND">North Dakota</option>
                <option value="UT">Utah</option>
                <option value="WY">Wyoming</option>
              </optgroup>
              <optgroup label="Central Time Zone">
                <option value="AL">Alabama</option>
                <option value="AR">Arkansas</option>
                <option value="IL">Illinois</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="OK">Oklahoma</option>
                <option value="SD">South Dakota</option>
                <option value="TX">Texas</option>
                <option value="TN">Tennessee</option>
                <option value="WI">Wisconsin</option>
              </optgroup>
            </select><span class="select2 select2-container select2-container--bootstrap4" dir="ltr" data-select2-id="1" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="false"><ul class="select2-selection__rendered"><li class="select2-selection__choice" title="Arizona" data-select2-id="3"><span class="select2-selection__choice__remove" role="presentation">×</span>Arizona</li><li class="select2-search select2-search--inline"><input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" role="searchbox" aria-autocomplete="list" placeholder="" style="width: 0.75em;"></li></ul></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
          </div> <!-- form-group -->
          <div class="form-group my-4">
            <p class="mb-2">
              <strong>Payment</strong>
            </p>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Paypal</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck2">
              <label class="custom-control-label" for="customCheck2">Credit Card</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1-1" checked="">
              <label class="custom-control-label" for="customCheck1">Wire Transfer</label>
            </div>
          </div> <!-- form-group -->
          <div class="form-group my-4">
            <p class="mb-2">
              <strong>Types</strong>
            </p>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
              <label class="custom-control-label" for="customRadio1">End users</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" checked="">
              <label class="custom-control-label" for="customRadio2">Whole Sales</label>
            </div>
          </div> <!-- form-group -->
          <div class="form-group my-4">
            <p class="mb-2">
              <strong>Completed</strong>
            </p>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1">
              <label class="custom-control-label" for="customSwitch1">Include</label>
            </div>
          </div> <!-- form-group -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn mb-2 btn-primary btn-block">Apply</button>
        <button type="button" class="btn mb-2 btn-secondary btn-block">Reset</button>
      </div>
    </div>
  </div>
</div>